<h1>hi</h1>

<form id="searchForm">
  <select id="id_state" name="state">
    <option value="" selected="selected">All states</option>
    <option value="Alabama">Alabama</option>
    <option value="Arizona">Arizona</option>
    <option value="Arkansas">Arkansas</option>
    <option value="California">California</option>
    <option value="Colorado">Colorado</option>
    <option value="Connecticut">Connecticut</option>
    <option value="District of Columbia">District of Columbia</option>
    <option value="Florida">Florida</option>
    <option value="Georgia">Georgia</option>
    <option value="Hawaii">Hawaii</option>
    <option value="Idaho">Idaho</option>
    <option value="Illinois">Illinois</option>
    <option value="Indiana">Indiana</option>
    <option value="Iowa">Iowa</option>
    <option value="Kansas">Kansas</option>
    <option value="Kentucky">Kentucky</option>
    <option value="Louisiana">Louisiana</option>
    <option value="Maryland">Maryland</option>
    <option value="Massachusetts">Massachusetts</option>
    <option value="Michigan">Michigan</option>
    <option value="Minnesota">Minnesota</option>
    <option value="Mississippi">Mississippi</option>
    <option value="Missouri">Missouri</option>
    <option value="Montana">Montana</option>
    <option value="Nebraska">Nebraska</option>
    <option value="Nevada">Nevada</option>
    <option value="New Mexico">New Mexico</option>
    <option value="New York">New York</option>
    <option value="North Carolina">North Carolina</option>
    <option value="North Dakota">North Dakota</option>
    <option value="Ohio">Ohio</option>
    <option value="Oklahoma">Oklahoma</option>
    <option value="Oregon">Oregon</option>
    <option value="Pennsylvania">Pennsylvania</option>
    <option value="Piedmont">Piedmont</option>
    <option value="Puerto Rico">Puerto Rico</option>
    <option value="South Carolina">South Carolina</option>
    <option value="South Dakota">South Dakota</option>
    <option value="Tennessee">Tennessee</option>
    <option value="Texas">Texas</option>
    <option value="Utah">Utah</option>
    <option value="Vermont">Vermont</option>
    <option value="Virginia">Virginia</option>
    <option value="Washington">Washington</option>
    <option value="West Virginia">West Virginia</option>
  </select>

  <span class="plus">+</span>

  <label for="id_date1">from</label>
  <select id="id_date1" name="date1">
    <option value="1836" selected="selected">1836</option>
    <option value="1837">1837</option>
    <option value="1838">1838</option>
    <option value="1839">1839</option>
    <option value="1840">1840</option>
    <option value="1841">1841</option>
    <option value="1842">1842</option>
    <option value="1843">1843</option>
    <option value="1844">1844</option>
    <option value="1845">1845</option>
    <option value="1846">1846</option>
    <option value="1847">1847</option>
    <option value="1848">1848</option>
    <option value="1849">1849</option>
    <option value="1850">1850</option>
    <option value="1851">1851</option>
    <option value="1852">1852</option>
    <option value="1853">1853</option>
    <option value="1854">1854</option>
    <option value="1855">1855</option>
    <option value="1856">1856</option>
    <option value="1857">1857</option>
    <option value="1858">1858</option>
    <option value="1859">1859</option>
    <option value="1860">1860</option>
    <option value="1861">1861</option>
    <option value="1862">1862</option>
    <option value="1863">1863</option>
    <option value="1864">1864</option>
    <option value="1865">1865</option>
    <option value="1866">1866</option>
    <option value="1867">1867</option>
    <option value="1868">1868</option>
    <option value="1869">1869</option>
    <option value="1870">1870</option>
    <option value="1871">1871</option>
    <option value="1872">1872</option>
    <option value="1873">1873</option>
    <option value="1874">1874</option>
    <option value="1875">1875</option>
    <option value="1876">1876</option>
    <option value="1877">1877</option>
    <option value="1878">1878</option>
    <option value="1879">1879</option>
    <option value="1880">1880</option>
    <option value="1881">1881</option>
    <option value="1882">1882</option>
    <option value="1883">1883</option>
    <option value="1884">1884</option>
    <option value="1885">1885</option>
    <option value="1886">1886</option>
    <option value="1887">1887</option>
    <option value="1888">1888</option>
    <option value="1889">1889</option>
    <option value="1890">1890</option>
    <option value="1891">1891</option>
    <option value="1892">1892</option>
    <option value="1893">1893</option>
    <option value="1894">1894</option>
    <option value="1895">1895</option>
    <option value="1896">1896</option>
    <option value="1897">1897</option>
    <option value="1898">1898</option>
    <option value="1899">1899</option>
    <option value="1900">1900</option>
    <option value="1901">1901</option>
    <option value="1902">1902</option>
    <option value="1903">1903</option>
    <option value="1904">1904</option>
    <option value="1905">1905</option>
    <option value="1906">1906</option>
    <option value="1907">1907</option>
    <option value="1908">1908</option>
    <option value="1909">1909</option>
    <option value="1910">1910</option>
    <option value="1911">1911</option>
    <option value="1912">1912</option>
    <option value="1913">1913</option>
    <option value="1914">1914</option>
    <option value="1915">1915</option>
    <option value="1916">1916</option>
    <option value="1917">1917</option>
    <option value="1918">1918</option>
    <option value="1919">1919</option>
    <option value="1920">1920</option>
    <option value="1921">1921</option>
    <option value="1922">1922</option>
  </select>

  <label for="id_date2">to</label>
  <select id="id_date2" name="date2">
    <option value="1836">1836</option>
    <option value="1837">1837</option>
    <option value="1838">1838</option>
    <option value="1839">1839</option>
    <option value="1840">1840</option>
    <option value="1841">1841</option>
    <option value="1842">1842</option>
    <option value="1843">1843</option>
    <option value="1844">1844</option>
    <option value="1845">1845</option>
    <option value="1846">1846</option>
    <option value="1847">1847</option>
    <option value="1848">1848</option>
    <option value="1849">1849</option>
    <option value="1850">1850</option>
    <option value="1851">1851</option>
    <option value="1852">1852</option>
    <option value="1853">1853</option>
    <option value="1854">1854</option>
    <option value="1855">1855</option>
    <option value="1856">1856</option>
    <option value="1857">1857</option>
    <option value="1858">1858</option>
    <option value="1859">1859</option>
    <option value="1860">1860</option>
    <option value="1861">1861</option>
    <option value="1862">1862</option>
    <option value="1863">1863</option>
    <option value="1864">1864</option>
    <option value="1865">1865</option>
    <option value="1866">1866</option>
    <option value="1867">1867</option>
    <option value="1868">1868</option>
    <option value="1869">1869</option>
    <option value="1870">1870</option>
    <option value="1871">1871</option>
    <option value="1872">1872</option>
    <option value="1873">1873</option>
    <option value="1874">1874</option>
    <option value="1875">1875</option>
    <option value="1876">1876</option>
    <option value="1877">1877</option>
    <option value="1878">1878</option>
    <option value="1879">1879</option>
    <option value="1880">1880</option>
    <option value="1881">1881</option>
    <option value="1882">1882</option>
    <option value="1883">1883</option>
    <option value="1884">1884</option>
    <option value="1885">1885</option>
    <option value="1886">1886</option>
    <option value="1887">1887</option>
    <option value="1888">1888</option>
    <option value="1889">1889</option>
    <option value="1890">1890</option>
    <option value="1891">1891</option>
    <option value="1892">1892</option>
    <option value="1893">1893</option>
    <option value="1894">1894</option>
    <option value="1895">1895</option>
    <option value="1896">1896</option>
    <option value="1897">1897</option>
    <option value="1898">1898</option>
    <option value="1899">1899</option>
    <option value="1900">1900</option>
    <option value="1901">1901</option>
    <option value="1902">1902</option>
    <option value="1903">1903</option>
    <option value="1904">1904</option>
    <option value="1905">1905</option>
    <option value="1906">1906</option>
    <option value="1907">1907</option>
    <option value="1908">1908</option>
    <option value="1909">1909</option>
    <option value="1910">1910</option>
    <option value="1911">1911</option>
    <option value="1912">1912</option>
    <option value="1913">1913</option>
    <option value="1914">1914</option>
    <option value="1915">1915</option>
    <option value="1916">1916</option>
    <option value="1917">1917</option>
    <option value="1918">1918</option>
    <option value="1919">1919</option>
    <option value="1920">1920</option>
    <option value="1921">1921</option>
    <option value="1922" selected="selected">1922</option>
  </select>

  <span class="plus">+</span>

  <input id="id_proxtext" name="proxtext" type="text" style="color: rgb(187, 187, 187);">
  
</form>
<input type="image" alt="GO" src="http://chroniclingamerica.loc.gov/media/images/btn_go.0850eaa09b68.png" class="proxtext-btn">
<div id="mySearch"></div>


<script type="text/javascript">
  
    $(".proxtext-btn").click(function(){
    
    var queryString = $('#searchForm').serialize();
    $('#mySearch').empty(); 
      $.getJSON('http://chroniclingamerica.loc.gov/search/pages/results/?' + queryString + '&x=0&y=0&dateFilterType=yearRange&rows=20&searchType=basic&format=json', function(myObject){
        
      $.each(myObject.items, function(key, val){

      $('#mySearch').append("<p><a href='" + val.url.substring(0, val.url.length - 5) + "' target='_blank'><b>" + val.title + "</b>" + " (" + val.city + "," + val.state + ") " + val.date.substring(4, 6) + "/" + val.date.substring(6, 8) + "/" + val.date.substring(0, 4) + ", " + val.edition_label + "  PAGE " + val.page + ", IMAGE " + val.sequence + "</a></p>" + "<img src='" + val.url.substring(0, val.url.length - 5) + "/thumbnail.jpg'> "+ "<input class='save' id='" + key + "' type='submit' value='Save'>" + 
        "<form class='hide' id='post_" + key + "'>" +
          "<input type='text' name='sequence' value='" + val.sequence + "'><input type='text' name='county' value='" + val.county + "'><input type='text' name='edition' value='" + val.edition + "'><input type='text' name='frequency' value='" + val.frequency + "'><input type='text' name='url_id' value='" + val.id + "'><input type='text' name='subject' value='" + val.subject + "'><input type='text' name='city' value='" + val.city + "'><input type='text' name='date' value='" + val.date + "'><input type='text' name='title' value='" + val.title + "'><input type='text' name='end_year' value='" + val.end_year + "'><input type='text' name='note' value='" + val.note + "'><input type='text' name='state' value='" + val.state + "'><input type='text' name='section_label' value='" + val.section_label + "'><input type='text' name='type' value='" + val.type + "'><input type='text' name='place_of_publication' value='" + val.place_of_publication + "'><input type='text' name='start_year' value='" + val.start_year + "'><input type='text' name='edition_label' value='" + val.edition_label + "'><input type='text' name='publisher' value='" + val.publisher + "'><input type='text' name='language' value='" + val.language + "'><input type='text' name='alt_title' value='" + val.alt_title + "'><input type='text' name='lccn' value='" + val.lccn + "'><input type='text' name='country' value='" + val.country + "'><input type='text' name='ocr_eng' value='" + val.ocr_eng + "'><input type='text' name='batch' value='" + val.batch + "'><input type='text' name='title_normal' value='" + val.edition_label + "'><input type='text' name='url' value='" + val.url + "'><input type='text' name='place' value='" + val.place + "'><input type='text' name='page' value='" + val.page + "'>" +
        "</form>"

        );
        }); 
          $(".save").click(function(){

            var button_id = $(this).attr('id')
            var queryString = $('#post_'+button_id).serialize();
              var postUrl = 'https://script.google.com/macros/s/AKfycbwmXKhtyX_IGhHr0jCJ4EKNEN81sl4R44ZY67dIZSrurVoYml3b/exec?_method=POST&' + queryString;
              function popitup(url) {
                newwindow=window.open(postUrl,'name','height=200,width=150');
                // if (window.focus) {newwindow.focus()}
                // return false;

              };
              popitup(postUrl);
              // setTimeout(window.location.replace("<%= articles_url%>"), 4000 ); 
              
              
            
             
              
               });
       });

    });


    // var postUrl = 'https://script.google.com/macros/s/AKfycbwmXKhtyX_IGhHr0jCJ4EKNEN81sl4R44ZY67dIZSrurVoYml3b/exec?&_idkeys=id&_action=UPDATE&_method=POST&' + queryString;
    // function popitup(url) {
    //   newwindow=window.open(postUrl,'name','height=200,width=150');
    //   // if (window.focus) {newwindow.focus()}
    //   // return false;

    // };
    // popitup(postUrl);
    // setTimeout(window.location.replace("<%= article_url(params[:id].to_i)%>"), 4000 ); 
  
</script>   
 
          


  
