// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea {
    width: 400px;
    height: 150px;
}
input[type=text] {
    width: 400px;
    
}


.ta-right {
    text-align: right;
}

.ta-center {
    text-align: center;
}